# =========================
# MongoDB Atlas
# =========================
# Shembull:
# MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/stihl-store?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI=

# =========================
# Admin Login
# =========================
# Ndryshoji këto para deploy në Vercel
ADMIN_EMAIL=admin@stihlstore.al
ADMIN_PASSWORD=Admin12345!

# =========================
# JWT Secret
# =========================
# Vendos një tekst të gjatë, privat, minimumi 32 karaktere
JWT_SECRET=ndrysho-kete-me-nje-secret-shume-te-forte-123456

# =========================
# Business Info
# =========================
NEXT_PUBLIC_WHATSAPP_NUMBER=355692240590
NEXT_PUBLIC_BUSINESS_PHONE=+355 69 224 0590
NEXT_PUBLIC_BUSINESS_ADDRESS=Kukës, Albania
